version: '3.1'

services:
  # MariaDB setup
  db:
    container_name: vybeen-db
    image: mariadb
    restart: always
    command: [
      '--lower-case-table-names=1'
    ]
    ports:
      - "3306:3306"
    networks:
      - vybeen_network
    volumes:
      - ./db/data:/var/lib/mysql
    environment:
      MARIADB_DATABASE: vybeen
      MARIADB_ROOT_PASSWORD: <change_password>

  # Node api setup
  node:
    container_name: vybeen-api
    build: .
    restart: always
    ports:
      - "3000:3000"
    networks:
      - vybeen_network
    environment:
      PORT: 8080
      APP_KEY: <insert_furwaz_key>
      DATABASE_URL: "mysql://root:<change_password>@db:3306/vybeen"
      SECRET_KEY: <change_secret>

  # Added adminer (light phpmyadmin), to be able to view the database
  adminer:
    container_name: vybeen-adminer
    image: adminer
    restart: always
    ports:
      - "8008:8080"
    networks:
      - vybeen_network

# Common network for all services
networks:
  vybeen_network:
    driver: bridge
